[Unit]
Description=Yingya Rust backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/lake/workspace/yingya
ExecStart=/home/lake/workspace/yingya/target/debug/yingya-server
Restart=always
RestartSec=2
Environment=RUST_LOG=yingya_server=info

[Install]
WantedBy=default.target
